[2017-06-09 16:09] gmtoglia opened #4 "Menu icon mobile version"
Menu icon not visible for the mobile version.
![bad_menuicon](https://user-images.githubusercontent.com/16922193/26984222-903cf2a8-4d0c-11e7-8207-88b93a9dcf87.png)

[2017-06-09 17:02] gmtoglia opened #5 "Enhancement: automatic link into the viewer"
When the user creates a layer, it's not possible to click on a link in the viewer. Is it possible to recognize a string starting with "http..." and make it clickable? It would be perfect if:
- the link will be open in a new tab
- the url string will be reduced to a "tiny url"

Example: http://haitidata.dev.ithacaweb.org/layers/geonode:test_form_undp_results3_cc4b4f8c#map=0.009330691929342804/-8049

[2017-07-31 15:06] gmtoglia opened #8 "Open Geoserver in a new tab"
As described, when the admin clicks on the "GeoServer" link, the page should be opened in a new tab (a href target="_blank")
![image](https://user-images.githubusercontent.com/16922193/28784047-3c90cef2-75e0-11e7-87af-215536e93b44.png)

[2017-08-21 08:36] ppasq commented on #4
This has been fixed so I'm closing this.

[2017-08-21 08:36] #4 closed

[2017-08-21 08:40] ppasq opened #9 "Set new Regions in the Search Filters"
Since Haitidata is focused on Haiti only, the Regions search filter should be updated with Haiti administrative sections only.

[2017-08-24 15:17] cchristelis opened #10 "Recommend number of containers"
# Problem

Since the load on the server is likely to be relatively stable, we need to pre-specify a recommended number of containers per component.

# Proposed Solution

Set the number of containers in the rancher configuration.

[2017-08-24 15:21] cchristelis commented on #10
Set containers to autostart on the server.

[2017-08-24 15:22] cchristelis opened #11 "Rancher Training"
# Problem

Since the Haiti Team will need to be able to administer the site, we need to have training materials prepared around the rancher configuration.

# Proposed Solution

Set up training documents on how to use the rancher instance.

[2017-08-24 15:24] cchristelis opened #12 "Clipping a Rectangle"
# Problem

We need to be able to clip a rectangular subset of the data.

# Proposed Solution

Allow users to specify a rectangular clip extent.

[2017-08-24 15:25] cchristelis opened #13 "Clipping Permissions == Download Permissions"
# Problem

Only users who are allowed to download data should be able to download a clipped extent of the data.

# Proposed Solution

Ensure that the download permissions are honoured when a user clips.

[2017-08-24 15:30] cchristelis opened #14 "Too big is too big"
# Problem

Users should not be allowed to clip and download a too big data set. We should limit the download area to a sensible area for the current layer.

# Proposed Solution

We should set maximum output file size in the project settings. This variable, as well as the density of the current layer, should be made available to the details page. If the calculation:
[code]
is true we allow clipping

[2017-08-28 07:46] #12 closed

[2017-08-28 07:49] cchristelis commented on #10
@euclidian please have a look at this.

[2017-08-28 07:49] cchristelis commented on #11
@euclidian

[2017-08-28 07:50] cchristelis commented on #14
fixed in PR #7

[2017-08-28 07:50] #14 closed

[2017-08-29 06:37] euclidian opened #15 "Develop Branch and PR Review"
We've discussed about creating a develop branch where we should merge all open PRs. Is this possible? And I think PR #7 should be reviewed soon, because it keeps getting bigger.

[2017-08-29 09:32] euclidian commented on #10
@cchristelis can you give me with possible server spesification?

[2017-08-29 13:38] cchristelis commented on #10
@euclidian, @dimasciput should has deployed to the server before.

[2017-08-30 06:12] euclidian commented on #10
I'm testing with 300 simultaneous users for POST and GET using Locust

![image](https://user-images.githubusercontent.com/2271663/29857807-afd3f19e-8d84-11e7-8aac-40dd93913be8.png)

I think it is still possible if we start with 10 containers at first. Because we have 12 core x 3.9GHz and lots of RAM (65 GB)

[2017-08-30 07:21] euclidian commented on #11
Please take a look at this https://docs.google.com/document/d/1jIlXp-7GC9L6CpUaNoc5cnHRwibN61Nw0JxjZzNI0Dw/edit#. I'll try to tidy it up more

[2017-08-30 07:46] ppasq commented on #15
A development branch has been created. PR #7 will be reviewed soon.

[2017-08-30 09:30] cchristelis commented on #15
@euclidian, could you please open a new PR and point it to the develop branch.

[2017-08-30 09:39] euclidian commented on #15
done

[2017-08-30 09:43] #13 closed

[2017-09-12 18:49] gmtoglia opened #16 "String length issue when showing categories"
The user cannot see the whole string if it's too long:

![image](https://user-images.githubusercontent.com/16922193/30342916-8f350b9a-97c9-11e7-9861-b302763e1410.png)

The number of layers related is also out of the line.

[2017-09-12 18:53] gmtoglia opened #17 "Shapefile corrupted after download"
When downloading the following Zipped shapefile, the file is corrupted:

http://haitidata.dev.ithacaweb.org/layers/geonode:routet#map=611.49622628141/-8130377.31/2160698.12/0

[2017-09-13 08:59] ppasq opened #19 "Authentication issue between GeoNode, GeoServer and DB"
On the development branch a vanilla GeoServer (2.9.1) is downloaded. Should be a custom 2.10-snapshot. Please see: https://github.com/GeoNode/geonode/blob/master/dev_config.yml#L2-L3

[2017-09-13 09:54] meomancer commented on #19
hi @ppasq
because we are using docker, our geoserver is downloaded from docker hub
https://hub.docker.com/r/kartoza/geoserver/

which are using 2.9.1:
https://github.com/kartoza/docker-geoserver/blob/master/Dockerfile#L19

we could ask tim to release docker-geoserver that uses 2.10
or
we could update makefile in our local (not use dockerhub)

what do you think @cchristelis ?

[2017-09-15 09:58] ppasq opened #22 "Set locale to en_US.UTF-8"
Current locale is en_ZA.UTF-8

[2017-09-15 09:59] ppasq opened #23 "Load initial data"
Categories and Regions are not loaded.

[2017-09-15 10:31] ppasq opened #24 "The django-osgeo-importer requires GDAL 2.1.3"

[2017-09-15 10:48] ppasq opened #27 "French language is causing an Internal Server Error"
Temporarily removed.

[2017-09-15 11:42] #24 closed

[2017-09-15 11:43] ppasq commented on #24
Fixed with PR #28

[2017-09-18 05:13] dimasciput opened #29 "Store shapefile to PostGIS"
## Problem

When you upload a shapefile the layer is stored on filesystem and not in PostGIS. This behaviour affects the osgeo-importer.

## Solution

Store shapefile to PostGIS.

[2017-09-18 06:17] meomancer opened #30 "shapefile is not stored on postgis"

[2017-09-18 06:18] meomancer opened #31 "Language bug"

[2017-09-18 08:34] ppasq commented on #19
hi @meomancer
the GeoServer is now correct but I'm still having the authentication issue. Same as you?

[2017-09-18 08:35] ppasq commented on #8
Fixed in development branch.

[2017-09-18 08:35] #8 closed

[2017-09-18 10:44] ppasq commented on #30
Duplicate of #29

[2017-09-18 10:44] #30 closed

[2017-09-18 10:47] ppasq commented on #29
GeoServer is not able to connect to the database. When uploading a layer I'm getting the following error:

`Error deleting PostGIS table gis_osm_landuse_a_free_1:could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?
could not connect to server: Cannot assign requested address
	Is the server running on

[2017-09-18 10:52] #27 closed

[2017-09-18 10:54] ppasq commented on #31
The Search input box is translated while the rest of the page is not.

![screen shot 2017-09-18 at 12 53 04](https://user-images.githubusercontent.com/3024454/30538925-5e679f90-9c70-11e7-94ae-82138a1195f2.png)

[2017-09-18 11:00] ppasq opened #35 "Replace filler text"
Review text and fill-ins (Lorem ipsum)

[2017-09-18 12:46] ppasq commented on #29
Database geonode_data is not created with fresh-deploy. Store configuration is not correct (host, user and password).

[2017-09-18 13:08] ppasq opened #36 "Include GeoServer CSS plugin in deployment"
The plugin was placed in [https://github.com/HaitiData/haitidata/tree/development/deployment/docker-geoserver/resources/plugins](https://github.com/HaitiData/haitidata/tree/development/deployment/docker-geoserver/resources/plugins) but it is not deployed.

[2017-09-18 14:09] ppasq commented on #23
Initial data and regions were added to [development/django_project/base/fixtures](https://github.com/HaitiData/haitidata/tree/development/django_project/base/fixtures). They need to be loaded with fresh-deploy.

[2017-09-18 19:21] gmtoglia opened #37 "Change page title"
The string "exemple.com" is always in the title. Use "HaitiData.org" instead. Merci ;)

[2017-09-19 04:02] #31 closed

[2017-09-19 04:03] meomancer commented on #36
how to deploy this @ppasq ?

[2017-09-19 04:03] #23 closed

[2017-09-19 04:04] #15 closed

[2017-09-19 04:04] #29 closed

[2017-09-20 06:18] meomancer commented on #22
hi @ppasq
i see it breaks account insertion as you mention as in email
[code]

https://github.com/GeoNode/geonode-user-accounts/blob/master/account/models.py#L36
it has max length=10 but the locale we use is more than 10

My solution is as them to update their model, or maybe remove UTF8 or maybe we could fork their repo and update by ourself.

[2017-09-20 09:49] ppasq commented on #22
hi @meomancer
this could be worth asking the GeoNode Dev list.

[2017-09-25 18:37] gmtoglia opened #45 "Tutorials missing"
The tutorials for the use of the platform are missing (chapter 1.7 of the technical proposal)

[2017-09-25 18:42] gmtoglia opened #46 "Download clip - error management when not selecting the area"
If the user wants to download a clip without selecting the area, the message "No polygon in map, this will clip from map extent instead" appears and the download is impossible (the user has to refresh the page in order to try again).

[2017-09-26 09:37] cchristelis commented on #19
@ppasq and @meomancer, this is definately a settings issue. I think it is the fact that we are trying to do this over http. I have temporarily disabled this and it is working, but this is not the best solution.

[2017-09-26 09:41] cchristelis commented on #22
Let's try en.UTF-8

[2017-09-26 09:51] cchristelis commented on #45
Hi @Gustry and @dimasciput, could you guys combine efforts to do a 3min overview of the ship'n'clip tool.

[2017-09-26 13:28] cchristelis opened #49 "Ship'n'Clip Menu"
# Problem

Currently the ship and clip is part of a layer. This is not according to the original wireframe.

# Proposed Solution

Add this into the menu as per TOR.

[2017-09-26 14:11] cchristelis commented on #49
Hi @gmtoglia, could you please add the wireframe here.

[2017-09-26 15:43] gmtoglia commented on #49
Hi @cchristelis. The following solution is requested especially for sharing the DEM and the HD ortho-pictures mosaics (described in the TdR - paragraph 3.1.5 Images aériennes et DEM ).
We can keep the feature in the layer detail (as it is now), but we would like a "dedicated section" for DEM and ortho-pictures (like it is done on OpenTopography with pointcoud - http://opentopo.sdsc.edu/lidarDatase

[2017-09-27 07:57] cchristelis commented on #49
@ppasq, do you think we could achieve this by just bundling certain layers/maps under this menu?

[2017-09-27 09:15] ppasq commented on #36
Hi @meomancer
The .jar files must be placed inside the geoserver/WEB-INF/lib/ folder. Tomcat must be restarted to enable the plugin. When creating a new style in GeoServer the label CSS will appear as an option in the format drop down menu (along with SLD and ZIP).

[2017-09-27 09:20] ppasq commented on #9
The new regions fixture was added in the development branch: https://github.com/HaitiData/haitidata/blob/development/django_project/base/fixtures/regions.json

[2017-09-27 09:20] #9 closed

[2017-09-27 09:27] ppasq commented on #16
![screen shot 2017-09-27 at 11 26 41](https://user-images.githubusercontent.com/3024454/30906012-c5cf4c70-a376-11e7-9081-f39e062c2ca0.png)

[2017-09-27 09:27] #16 closed

[2017-09-27 09:30] ppasq opened #51 "Colors for active/inactive Filters are misleading"
Not clear what filter is active.

![screen shot 2017-09-27 at 11 29 03](https://user-images.githubusercontent.com/3024454/30906107-1a1de188-a377-11e7-8f1d-de72146ec86f.png)

[2017-09-27 09:35] ppasq commented on #49
@cchristelis
Yes we can. The functionalities are all already there.

[2017-09-27 09:43] ppasq commented on #45
The proposal is to have 10 x 3 mins video tutorials highlighting the main functionalities. We should agree a list of the 10 topics.

[2017-09-27 10:01] ppasq commented on #37
The site name is set in /admin/sites/site/

[2017-09-27 10:01] #37 closed

[2017-09-27 10:09] cchristelis commented on #45
Let's maintain a list here and also who is responsible
- Rancher [Kartoza]
- Ship and Clip [Kartoza]
-

[2017-09-27 12:54] ppasq commented on #49
@gmtoglia can you explain in detail this custom page expected behaviour?
In particular, what happens if you have more than one set of orthophotos and/or DEMs?
In the TOR (paragraph) 3.1.5 it is not requested to have two different custom pages and in our Offre Technique a more general approach is described (paragraph 1.5) in order to have the clip-n-ship tool available for every kind of raster.

[2017-09-27 13:15] gmtoglia commented on #49
The behavior is the same as the other raster, the difference is that the layer is static (for the ortho-photos the later is made by the mosaic of the he pictures at 25cm resolution and for the Dem is the LiDAR files mosaic) . The viewer occupies the whole top of the page (as in the wireframe). I suggest to use two pages to make things easier, otherwise how the user can choose between the DEM and t

[2017-09-27 14:18] ppasq commented on #49
Actually, it is not Andrea's report you linked (does not contain a description different from our proposal). Anyway, IMHO your approach has two issues:

1. You cannot manage multiple mosaics;
2. You cannot delete the two initial mosaics (one orthophoto and one DEM).

I just want to be sure to have fully understand your request and that you are aware of these issues.

[2017-09-27 16:06] gmtoglia commented on #49
Ok, this is what we have in mind:
For the ortho-pictures:
![image](https://user-images.githubusercontent.com/16922193/30924184-0c5236bc-a37c-11e7-8382-7327b972545a.png)

For the DEM:
![image](https://user-images.githubusercontent.com/16922193/30924208-19d5fb8e-a37c-11e7-966a-7876d9cf0e82.png)

_**For all the rest, we leave the clip and ship as usual**_. We want only two "personalised" pages for th

[2017-09-28 03:03] dimasciput commented on #46
### Error Report

Using this command to get clipped tiff from bbox string
[code]

Got an error :
[code]

Gdal version : 2.1.3

[2017-09-28 03:21] meomancer commented on #22
hi @cchristelis
after i try it, it seems no locale en.UTF-8 found

[2017-09-28 06:12] dimasciput commented on #46
Fixed in https://github.com/HaitiData/haitidata/pull/53

[2017-09-28 06:12] #46 closed

[2017-09-28 08:16] dimasciput commented on #49
@gmtoglia, Can you give us the raster file?

[2017-09-28 08:45] ppasq commented on #49
@dimasciput all raster files are stored in the production server in the cnigs-data folder.

[2017-09-28 09:27] ppasq opened #55 "Update French dictionary"
Since new content was added the French dictionary must be updated.

[2017-09-29 07:33] cchristelis commented on #45
@dimasciput and @Gustry, how is the 'ship and clip' tutorial coming along?

[2017-10-01 20:40] #22 closed

[2017-10-03 19:01] cchristelis opened #63 "Risk and Hazard Panel"
# Question

I was looking through the site and came across the Risk and Hazard section and was not entirely sure how to use this section:
<img width="1303" alt="screen shot 2017-10-03 at 8 57 58 pm" src="https://user-images.githubusercontent.com/2319504/31143528-ce3ab03c-a87d-11e7-8f2b-a68a317cd242.png">

What is the purpose of this?

[2017-10-03 19:09] cchristelis commented on #11
@dimasciput, have you been able to incorporate these into actual work-sheets?

[2017-10-04 04:15] dimasciput commented on #11
Not yet, will going to work on this today-tomorrow. Do we need video tutorial too?

[2017-10-04 10:46] cchristelis opened #64 "Rancher Compose updates"
# Problem

We have the following set and it must please be unset:
[code]
also we need to use kartoza's or create a haitidata account for:

dimasciput/haitidata_geoserver

[2017-10-04 16:32] gmtoglia opened #65 "Uploads and upload csv"
Is there a more user friendly way to give access to the "Upload CSV" feature?

![image](https://user-images.githubusercontent.com/16922193/31187464-0812117e-a900-11e7-9aa9-8cb13350ccac.png)

[2017-10-04 19:12] gmtoglia opened #66 "Delete CSV"
The button "delete" of a CSV file doesn't work on Google Chrome
![image](https://user-images.githubusercontent.com/16922193/31194855-65f28d9e-a916-11e7-9f3a-269a619dc26b.png)

[2017-10-04 20:27] ppasq commented on #63
Data about specific risk and hazards analysis are available in the platform. This section is a quick link to that data (based on keywords).

[2017-10-05 14:51] ppasq commented on #65
What about a more general "Upload ODK exports"?

[2017-10-05 15:01] gmtoglia commented on #65
Perfect!

[2017-10-05 15:16] ppasq commented on #65
Any kind of CSV but the importer recognises only the following columns as longitude and latitude: 'Lon*', 'Lat*'; 'x', 'y'; '*Longitude', '*Latitude' (the latter are from ODK). In addition the following columns as geometry: 'geom', 'GEOM', 'WKT', 'the_geom', 'THE_GEOM', 'WKB', 'wkb_geometry'.

[2017-10-05 15:21] gmtoglia commented on #65
Ok, we can label it "Upload ODK exports". Thank you!

[2017-10-05 15:59] ppasq opened #67 "Unable to clip a mosaic"
Tried the clip-and-ship tool against a mosaic. The orthophoto mosaic is availabale at:
http://haitidata.dev.ithacaweb.org/layers/geonode:Haiti25cm-PaP-extract

The error I get is:
[code]

[2017-10-05 18:34] gmtoglia opened #68 "Administrative sections - search for sections doesn't work"
The layer in the picture has some points in the region (department) "Sud" but when I search for the region "Sud" I don't find it in the results

![image](https://user-images.githubusercontent.com/16922193/31246171-7fc89af0-a9da-11e7-8b80-6b0a908556de.png)

[2017-10-06 08:19] dimasciput commented on #67
I can't seems to download the layer, can you provide us the layer? Thanks.

[2017-10-06 10:21] meomancer commented on #49
hi @ppasq
could you pinpoint what file and location?
for DEM and Ortho? Because we can't find it.

[2017-10-06 12:25] ppasq commented on #67
You can find the layer on the production server in cnigs-data/ortho_images. You don't need to use all the granules and this particular set of images. The error can be reproduced with mosaics created by GeoServer. In case, you can use WCS for mosaics instead of GDAL for clipping.

[2017-10-06 13:23] Gustry commented on #45
The video about ship and clip: https://www.youtube.com/watch?v=6pcCoOYe0uY

Is-it ok like this?

[2017-10-06 15:19] gmtoglia commented on #45
Yes Etienne, this video explains very well the feature. I have only two suggestions: 1[not necessary but could help])to use a raster where the picture is more "user-friendly/satellite image" (like this:http://haitidata.dev.ithacaweb.org/layers/geonode:Haiti25cm-PaP-extract#map=152.8740565703525/-8039877.97/2096636.59/0). 2[I think that this is important]) show a scenario where the clip and ship wo

[2017-10-06 15:43] Gustry commented on #45
1. Yes, I understand. I took the SRTM available on this geonode: http://88.99.166.60/layers/?limit=100&offset=0
2. Hum ..., I restarted the video many times, to have the perfect voice and scenario ;-) Maybe I opened the wrong zip file! Sorry for that, let me check.

[2017-10-06 19:28] gmtoglia opened #72 "Categories and kind of risk/hazard"
I see that in the home page there is a filter by kind of risk/hazard
![image](https://user-images.githubusercontent.com/16922193/31294944-c4297194-aaaa-11e7-813a-6a846de6e2a9.png)

How can I set-up this information for a layer? I was not able to find it in the metadata page.

![image](https://user-images.githubusercontent.com/16922193/31295005-f171b8f0-aaaa-11e7-9cb1-79599934699a.png)

[2017-10-07 09:08] meomancer commented on #67
hi @ppasq
could you describe what did you do? what i mean, is these files uploaded through geonode? or it is created on geoserver?
how to do it? and how to reproduce it?
it seems that from code, the files is not found on geonode side

[2017-10-08 10:18] ppasq commented on #72
You must add the corresponding keywords (Keywords input text in metadata page):

- River Flood -> flood
- Cyclone -> cyclone
- Coastal Flood -> coastal-flood
- Earthquake -> earthquake
- Water Scarcity -> water-scarcity
- Landslide -> landslide

[2017-10-08 10:18] #72 closed

[2017-10-08 10:23] ppasq commented on #67
The mosaics were added following this tutorial http://docs.geonode.org/en/master/tutorials/advanced/adv_data_mgmt/adding_data/mosaic.html
Then inserted in GeoNode thru manage.py updatelayers

[2017-10-08 10:24] #63 closed

[2017-10-09 13:59] gmtoglia commented on #72
Perfect. I believe that for the french version we just have to translate the keywords.

[2017-10-09 16:15] AndreaAjmar commented on #35
Actions:
- provide test for the imagery section -> **gmtoglia/CNIGS**
![image](https://user-images.githubusercontent.com/13776909/31347787-c56e674c-ad1d-11e7-8075-d7589a0e9eda.png)
- update text and add button pointing to the specific pages -> **ppasq**

[2017-10-09 16:25] AndreaAjmar commented on #66
I tried to delete the upload and it worked, both without creating a layer and after having created a layer.

Tested using Google Chrome Version 61.0.3163.100 (Official Build) (64-bit) on Windows

[2017-10-09 16:49] AndreaAjmar commented on #5
Hyperlinks in the viewer are strongly discouraged for security reasons.
Furthermore, as we decided to work with mosaics, the single imagery/DEM tiles will not be added as individual GeoNode/HaitiData layers: therefore, this enhancement is no more needed

[2017-10-10 09:03] AndreaAjmar commented on #17
The development instance has been reset and layers reloaded, therefore I'm not currently able to retrieve the layer generating the corrupted zip file

[2017-10-10 09:21] #67 closed

[2017-10-11 04:09] meomancer commented on #36
hi @ppasq
after i added plugins, the geoserver is error

here is on the lib:
[code]
i see all file in plugins zip are there

here is the error
[code]
have you encountered this before?

[2017-10-11 09:15] ppasq commented on #68
Fixed with #80

[2017-10-11 10:03] #19 closed

[2017-10-11 13:24] ppasq commented on #72
OK, no problem.

[2017-10-11 13:35] cchristelis commented on #49
Hi @ppasq, we're handing this issue over to you until we have the layers loaded, also I think updating the text to fit with the rest of the site should be done with issue #35.

[2017-10-11 13:35] cchristelis commented on #49
The page is deployed on the server albeit without the correct layers.

[2017-10-11 13:37] cchristelis commented on #36
@meomancer and @ppasq are there any updates here?

[2017-10-11 13:39] cchristelis commented on #10
We'll start with 3 and adjust according to demand.

[2017-10-11 13:39] #10 closed

[2017-10-11 13:50] cchristelis opened #81 "GeoServer Master Master configuration"
# Problem

We should ideally have GeoServer configured as master-master. See: http://geoserver.geo-solutions.it/edu/en/clustering/clustering/active/index.html

[2017-10-11 15:39] ppasq commented on #36
Which GeoServer version are you using, 2.10 or 2.9? Plugins must match GeoServer version.

[2017-10-11 15:41] cchristelis commented on #36
2.10 @ppasq

[2017-10-11 15:41] ppasq opened #82 "Fix Explore Charts template"
Add some style to the page.

[2017-10-11 15:43] #65 closed

[2017-10-11 15:49] ppasq commented on #49
Thanks @cchristelis, I'm porting the clip page to the test site. But the clipping tool is generating a grey scale TIFF... while it works like a charm on the production site.
Need to investigate further before adding it to test site as well.

[2017-10-12 02:58] meomancer commented on #36
hi @ppasq
after i check it, "parboiled-core-1.1.7.jar" and "parboiled-java-1.1.7.jar" break the geoserver

[2017-10-12 06:06] meomancer commented on #36
hi @ppasq
it is loaded now : PR https://github.com/HaitiData/haitidata/pull/83
i was recreate the geoserver and reload geoserver from tomcat
it is loaded

[2017-10-12 07:40] ppasq opened #84 "Set Thumbnail doesn't work"
Getting an error when trying to set a layer thumbnail: Can't find variable: createMapThumbnail

[2017-10-12 08:27] cchristelis commented on #49
is it the dem @ppasq?

[2017-10-12 09:59] ppasq commented on #49
No, ortho_images. I get this with gdalinfo:

[code]

While I should have this:

[code]

[2017-10-12 12:09] #36 closed

[2017-10-12 18:07] gmtoglia commented on #68
Paolo, is this based on a spatial request? If I search the department "Artibonite", the above mentioned layer (http://haitidata.dev.ithacaweb.org/layers/geonode:damagesecolespardepartemen) should not be there, but I still find it.

![image](https://user-images.githubusercontent.com/16922193/31511714-98ec8d3a-af56-11e7-9950-5d8924a2e759.png)

[2017-10-12 19:47] ppasq commented on #68
@gmtoglia, the spatial search works for extent and retrieve all the layers that intersect the rectangle defined by that extent. In this case some schools intersect the extent of Artibonite.

[2017-10-13 20:04] gmtoglia opened #86 "Clip-n-ship: delete and edit"
The **icons** for "delete" and "edit" in the clip-n-ship window are "upside down" (the bin is used to "edit" and the pen is used to "delete")

![image](https://user-images.githubusercontent.com/16922193/31563583-b40f73d4-b02d-11e7-9950-6e192a7252fb.png)

[2017-10-16 07:49] #64 closed

[2017-10-16 13:49] gmtoglia opened #87 "Mobile version"
The string management has an issue on mobile pages (as shown in the picture)

![Image](https://i.imgur.com/tzPdQgG.jpg)

[2017-10-16 19:07] ppasq commented on #68
@gmtoglia can I close this?

[2017-10-18 21:03] #11 closed

[2017-10-19 12:58] meomancer commented on #86
hi @gmtoglia
it seems the svg is not correct
here is from haitidata
https://github.com/HaitiData/haitidata/blob/master/haitidata/static/geonode/css/images/spritesheet.svg

maybe we could use from development branch?
https://github.com/HaitiData/haitidata/blob/development/django_project/core/geonode_static/geonode/css/images/spritesheet.svg

here is from development branch
![selection_023](https://

[2017-10-19 14:20] #55 closed

[2017-10-19 14:20] #35 closed

[2017-10-19 15:53] gmtoglia commented on #86
Yes,
The développement branch solution si fine. Thank you.

[2017-10-20 08:26] cchristelis opened #93 "DB Backups container is missing"
# Problem

It seems like the DB backups container is not in the orchestration.

# Proposed Solution

Please add this.

[2017-10-20 08:26] #86 closed

[2017-10-20 08:45] cchristelis commented on #49
@ppasq, I tried to reproduce and am getting:
[code]

[2017-10-21 08:44] #51 closed

[2017-10-21 08:44] #82 closed

[2017-10-21 09:38] ppasq commented on #86
I've fixed the svg. I will update in test as well.

[2017-10-21 09:45] gmtoglia commented on #45
Can we have two columns (centered) for the videos list? Thank you!

[2017-10-22 13:42] ppasq commented on #87
AFAIK there's no ideal solution for this. The CSS `text-overflow:ellipsis` only works on a single line of text. So you can’t simultaneously have the text wrap to subsequent lines and have it ellipse at the end of the last line.
The issue should be handled by properly name the layer with multiple words instead of a single one (first layer in picture) so that the text can be wrapped in multiple line

[2017-10-23 19:44] gmtoglia opened #97 ""Type" filter doesn't work"
The type filter doesn't work. If the user select "Raster" or "Vector" the layers list doesn't change

![image](https://user-images.githubusercontent.com/16922193/31909733-11dd02a0-b809-11e7-8604-7e52e6ef9ae5.png)

[2017-10-24 08:12] #93 closed

[2017-10-24 17:52] AndreaAjmar commented on #45
First 3 ITHACA tutorials available:
Graphiques interactifs: https://youtu.be/BkQANF6DNhg
ODK: https://youtu.be/Wx3-QeqF63A
Sharing layers and metadata: https://youtu.be/xku8-K995_M

[2017-10-24 22:38] AndreaAjmar opened #98 "Replace GeoNode with Haitidata in tab description"
![screen shot 2017-10-25 at 00 34 27](https://user-images.githubusercontent.com/13776909/31971519-7f331a1a-b91c-11e7-9125-671c9bcd0d7f.png)
![screen shot 2017-10-25 at 00 36 29](https://user-images.githubusercontent.com/13776909/31971569-a669abee-b91c-11e7-8564-9f4cba801c84.png)
![screen shot 2017-10-25 at 00 37 36](https://user-images.githubusercontent.com/13776909/31971589-bc357d54-b91c-11e7-902

[2017-10-25 14:24] AndreaAjmar opened #99 "Error when trying to save a chart with Quantity set to Null"
While creating a chart with Quantity set as null:
![screen shot 2017-10-25 at 16 21 04](https://user-images.githubusercontent.com/13776909/32003822-8f6da97a-b9a0-11e7-839d-eb16d95d9ee3.png)

the preview generate a (meaningless?) chart:
![screen shot 2017-10-25 at 16 22 21](https://user-images.githubusercontent.com/13776909/32003870-bc650446-b9a0-11e7-9a56-e23de05c51ca.png)

but the Save button gen

[2017-10-25 14:34] AndreaAjmar commented on #99
With Aggregation set to Category count:
![screen shot 2017-10-25 at 16 31 01](https://user-images.githubusercontent.com/13776909/32004423-04adc0ac-b9a2-11e7-902b-ba5af0eccf81.png)

the produced chart as a meaning:
![screen shot 2017-10-25 at 16 32 42](https://user-images.githubusercontent.com/13776909/32004494-299fe534-b9a2-11e7-956b-0347a73671a0.png)

But still have the same error when trying to

[2017-10-25 14:48] gmtoglia opened #100 "Orthophotos - file name after download"
After clipping and shipping from http://haitidata.dev.ithacaweb.org/clip/ortho_images, the file has the following format name:

Orthoimage de la **zone urbaine de Port-au-Prince.tif**.AAAA-MM-DD_HH-MM-SS.tif

I suggest to name it: Orthoimage_HaitiData_AAAA-MM-DD_HH-MM-SS.tif

Anyway If we can have a detail on the location would be perfect.

[2017-10-25 15:07] edejude opened #101 "Documents management"
A user who is not connected can click on "edit document" and the popup is empty.

![image](https://user-images.githubusercontent.com/3659579/32006308-7b2b83aa-b974-11e7-9594-0f50ca4b93ee.png)

[2017-10-25 15:21] gmtoglia opened #102 "Uploads french page"
In the page http://haitidata.dev.ithacaweb.org/uploads the text "http://haitidata.dev.ithacaweb.org/uploads" is not available on Transifex

![image](https://user-images.githubusercontent.com/16922193/32007133-aad203b6-b976-11e7-904c-7a6ca1e22b22.png)

[2017-10-25 15:35] gmtoglia opened #103 "Imagery - error message when downloading"
The message when there is a size issue should be more visible and available in french too

![image](https://user-images.githubusercontent.com/16922193/32007811-9bb3d1fa-b978-11e7-85ea-94c7a57160b9.png)

[2017-10-25 16:39] gmtoglia opened #104 "Link to each tutorial"
Can we have direct link to each tutorial in a page?

![image](https://user-images.githubusercontent.com/16922193/32011011-7f0a23a2-b981-11e7-807e-1864a0d264f5.png)

[2017-10-25 19:12] gmtoglia opened #105 "Charts page - cannot access the charts"
In the charts page we cannot access the charts. Can we have a link to each chart?

![image](https://user-images.githubusercontent.com/16922193/32018091-c3d0299a-b996-11e7-91b6-18106f2b2a2f.png)

[2017-10-26 12:09] sbsimo commented on #99
Solution proposed in https://github.com/ppasq/haitidata/pull/19
Re-assigned to @ppasq for merging and publishing on the server.

[2017-10-26 12:22] sbsimo commented on #99
Merged by ppasq.
Re-assigned to @AndreaAjmar for checking and closing or commenting further.

[2017-10-26 12:28] #99 closed

[2017-10-26 12:53] #105 closed

[2017-10-26 12:56] ppasq commented on #98
Display name was set in Django Admin.

[2017-10-26 12:56] #98 closed

[2017-10-26 13:26] gmtoglia opened #109 "Description page "OrthoPhotos""
Can we move the introduction text above the page content (as we have for maps and tutorials)?

![image](https://user-images.githubusercontent.com/16922193/32055387-a67e1ff2-ba2f-11e7-87e8-5792f68c00f6.png)

[2017-10-26 15:33] gmtoglia opened #110 "Contact us page"
Can we add a contact us page. If it's complicated A simple page with  this information: https://www.cnigs.ht/contact

![image](https://user-images.githubusercontent.com/16922193/32060784-cba5b2b4-ba3d-11e7-847d-cd548bf1f64d.png)

[2017-10-26 15:49] gmtoglia opened #111 "Edit layer - Edit data button"
The button "Edit data" into Edit Layer brings us into "Create map" and there is no possibility to edit the layer. Can we remove this button?

![image](https://user-images.githubusercontent.com/16922193/32062832-a3f8d844-ba43-11e7-8cfb-ef46768bee81.png)

[2017-10-26 16:01] sbsimo opened #112 "Clip 'n ship tool downsamples the source imagery"
The image obtained after clipping the ortho_images has a lower spatial resolution than the original data source. Can the downsampling ratio be set to any value? In such case which setting should be modified?

[2017-10-26 16:32] gmtoglia opened #113 "Lidar/DEM page"
Can we change the title into DEM or DTM instead of DSM?

Can we add the following text above the clip-n-ship window?:

[2017-10-26 16:42] AndreaAjmar commented on #112
The bug must be solved ASAP as we have an official presentation tomorrow morning 9 am (Haiti time, i.e. UTC/GMT -4) and this is really crucial for the presentation!

[2017-10-26 17:14] gmtoglia commented on #84
FYI when creating a layer using the "Upload ODK exports" the thumbnail is set. I hope this can help.

![image](https://user-images.githubusercontent.com/16922193/32066981-93d56dae-ba4f-11e7-9bd0-c019a67db9d1.png)

[2017-10-26 18:12] gmtoglia commented on #112
Please check also the procedure on the DEM files.

[2017-10-26 19:55] gmtoglia opened #114 "String too long into "Modifier la couche""
The button "Modifier les Données" has a long label.

![image](https://user-images.githubusercontent.com/16922193/32074013-1b475944-ba66-11e7-8423-55584ae755d7.png)

[2017-10-27 09:39] sbsimo commented on #112
The #115 was checked and merged; it is operational on the dev server.

The clipped files (both ortho_images and DSM) now have indeed the original resolution.
They are also correctly geo-referenced in the source reference system.

There's still an issue with the number of bands, one more than the original source; i.e. the ortho_images clipped file has 4 bands rather than the original 3; lidar has 2

[2017-10-27 20:11] gmtoglia opened #116 "Download layers from Map - messages"
When downloading the layers composing a map, the progress bar is always empty and the message is "Download complete" when the download is starting and is not complete yet.

![image](https://user-images.githubusercontent.com/16922193/32123260-7ef9a87c-bb31-11e7-9d4c-0b62f4488233.png)

[2017-10-27 20:59] #66 closed

[2017-10-29 13:22] AndreaAjmar opened #117 ""Layer do not exist" error while downloading all data layers of a map"
When trying to download all data layers of a map:
![screen shot 2017-10-29 at 14 17 14](https://user-images.githubusercontent.com/13776909/32144102-efa804e6-bcb3-11e7-9b35-9ffe78527c8b.png)
![screen shot 2017-10-29 at 14 18 09](https://user-images.githubusercontent.com/13776909/32144109-110ce50c-bcb4-11e7-881c-0ffe5be84e19.png)

A "Layer do not exist" error appears if one of the original layers ha

[2017-10-29 14:09] AndreaAjmar commented on #113
I'm not completely sure of the nature of the LiDAR product: it seems something mid road between a DSM and a DTM.

e.g.
bridges are clearly identifiable (that means that this product, as it is, cannot be used for hydrological modeling):
![screen shot 2017-10-29 at 14 44 42](https://user-images.githubusercontent.com/13776909/32144396-5f39ca52-bcb8-11e7-81ba-3d503d21ea96.png)

the same for the (relat

[2017-10-29 14:27] AndreaAjmar commented on #45
Update on the tutorials:
->Rancher [Kartoza]: TBD
->Ship and Clip [Kartoza]: draft available at https://www.youtube.com/watch?v=6pcCoOYe0uY and on Tutoriels page
->Sharing layers and metadata [ITHACA]  -> draft available https://youtu.be/xku8-K995_M and on Tutoriels page
->Uploading files from Android ODK [ITHACA]  -> draft available https://youtu.be/Wx3-QeqF63A and on Tutoriels page
->Styling lay

[2017-10-29 14:33] AndreaAjmar commented on #113
Yes, but the text you propose for the description is not 100% right, as actually the dataset considers some of the object on top of the ground (e.g. bridges, monuments/high-rise buildings, etc.)

Therefore, I suggest to:
- use the label DEM (English) or MNT (French)
- revise the description as following:
Un Modèle Numérique de Terrain (MNT) est une représentation 3D de la surface d'un terrain ou d

[2017-10-29 14:34] #17 closed

[2017-10-29 14:35] #5 closed

[2017-10-29 17:52] gmtoglia commented on #68
Paolo, before closing it, do you think is possible to do a spatial search that "contains" instead of "intersect"?

[2017-10-30 00:00] gmtoglia commented on #113
Perfect, let's use this new text:

Un Modèle Numérique de Terrain (MNT) est une représentation 3D de la
surface d'un terrain ou d'une planète, créée à partir des données
d'altitude du terrain. Pour mieux comprendre comment sélectionner la zone
d’intérêt, voir le tutoriel: "http://haitidata.org/tutorials#idTutorial"
*Ces prises de vu sur Haiti ont été faites entre le 2014 et le 2016.*
La taille max

[2017-10-30 10:38] ppasq commented on #68
Well, it is possible but what is the expected behaviour? You'll probably get an empty result in most cases.

[2017-10-30 15:19] gmtoglia commented on #110
Please add also the email adress: haitidata@cnigs.ht

[2017-10-30 15:44] gmtoglia opened #118 "Official user creation"
Can we have the procedure to create an official user?

![image](https://user-images.githubusercontent.com/16922193/32180172-a199ca32-bd67-11e7-88d4-a84433c7924d.png)

[2017-10-30 16:52] gmtoglia commented on #113
New version of the text:

Un Modèle Numérique de Terrain (MNT) est une représentation 3D de la
surface d'un terrain ou d'une planète, créée à partir des données
d'altitude du terrain. Pour mieux comprendre comment sélectionner la zone
d’intérêt, voir le tutoriel: "http://haitidata.org/tutorials#idTutorial"
Ces prises de vu sur Haiti ont été faites entre le 2014 et le 2016.

Pour sélectionner la zo

[2017-10-30 16:54] gmtoglia commented on #109
Can we add the text:
---
Ces prises de vu sur Haiti ont été faites entre le 2014 et le 2016.

Pour sélectionner la zone d’intérêt:

- Cliquer sur l'icône ![image](https://user-images.githubusercontent.com/16922193/32184040-65dfb2a4-bd71-11e7-8a39-8521f931bc1f.png) pour utiliser un polygone irrégulier
- Cliquer sur l'icône ![image](https://user-images.githubusercontent.com/16922193/32184061-728f1a4

[2017-10-30 18:21] gmtoglia opened #119 "Delete chart"
After deleting a chart, the user is redirected on the "Layers" page instead of the "Charts" page.

[2017-10-30 20:27] gmtoglia commented on #112
What's the size increase because of this 4th/2nd band (in percentage)?

[2017-10-31 09:32] sbsimo commented on #112
- 100% increase for lidar (the 2nd band is currently the same size as the 1st)

[2017-10-31 16:17] edejude opened #122 "Add a link to official Users Profiles"
We would like to have a link for the Official Users Profiles. See image:
![image](https://user-images.githubusercontent.com/3659579/32235091-e72f8eb0-be34-11e7-96c7-877a818e0619.png)

[2017-10-31 18:18] gmtoglia commented on #112
Ok, in this case it's better to keep it open :)

[2017-10-31 18:27] gmtoglia opened #123 "English-French translation (different pages)"
Here the translation for the HOME PAGE main text:

HaitiData is a platform designed to disseminate, share and exploit GIS and cartographic data about Haiti.
This idea was born after the earthquake of January 12, 2010. The first version of HaitiData has been used by several actors and partners involved in risk and disaster management, urban planning, agriculture and food security, spatial planning,

[2017-11-01 13:05] cchristelis opened #125 "Missing libraries"
# Problem

On production some fonts seem to be missing.

[code]

# Proposed Solution

Add them.

[2017-11-01 14:19] gmtoglia opened #126 "Update Layer style"
There is a crash when the user tries to update the layer style for this layer:

http://haitidata.dev.ithacaweb.org/gs/geonode:hti_boundaries_departements_adm1_cnigs_polygon/style/manage

When the use clicks on "Update Available Styles" the result is this:

![image](https://user-images.githubusercontent.com/16922193/32279116-22522f98-beee-11e7-9e60-18d7e8084115.png)

[2017-11-02 08:45] ppasq commented on #125
The Glyphicons should not be used. But maybe it is better to add them anyway.

[2017-11-02 09:01] ppasq commented on #68
Since the topic of this issue changed please open a new one.

[2017-11-02 09:01] #68 closed

[2017-11-02 16:13] gmtoglia opened #127 "Document issue - Annexe G"
There is a resolution issue for every image used in the Annexe G. Can we have better images? Thank you

[Annexe_G.pdf](https://github.com/HaitiData/haitidata/files/1438482/Annexe_G.pdf)

[2017-11-02 16:22] #109 closed

[2017-11-02 16:22] #111 closed

[2017-11-02 16:22] #113 closed

[2017-11-02 16:28] ppasq commented on #114
This issue is related to #111 therefore is no longer relevant.

[2017-11-02 16:28] #114 closed

[2017-11-02 16:35] ppasq commented on #118
1. Add the "official user" username to the resourcebase_snippet template https://github.com/HaitiData/haitidata/blob/master/haitidata/templates/base/_resourcebase_snippet.html#L12
2. Upload a PNG only avatar with no transparency. For better results use a square image.

[2017-11-02 16:35] #118 closed

[2017-11-02 16:35] #110 closed

[2017-11-02 16:37] ppasq commented on #45
All available tutorials (only one missing) have been added to the page.

[2017-11-02 16:38] ppasq commented on #87
Can we close this?

[2017-11-02 16:45] #101 closed

[2017-11-02 17:37] gmtoglia commented on #87
Paolo, I prefer to leave it open and check it after the final release is
online. We can consider that this issue has low priority.

2017-11-02 12:38 GMT-04:00 Paolo Pasquali <notifications@github.com>:

[2017-11-06 01:18] gmtoglia commented on #123
Can you also google translate the content of these 3 texts:

![image](https://user-images.githubusercontent.com/16922193/32421392-2277bbb6-c266-11e7-998b-b0d3633f8c2a.png)

Thank you!

[2017-11-06 09:19] ppasq commented on #100
The name is given by the corresponding layer. Both were changed accordingly.

[2017-11-06 09:19] #100 closed

[2017-11-06 09:25] ppasq commented on #104
Yes, we can. The one in the picture was already added. The others will be added accordingly.

[2017-11-06 09:25] #104 closed

[2017-11-06 13:53] edejude opened #134 "I can not view some layers as public user"
I uploaded some layers on Haitidata with the user PRCU, i can not view some when i am connected as PRCU user, neither as not connected user. But, when i am connected as superadmin(cnigs), i can view them.

![image](https://user-images.githubusercontent.com/3659579/32444260-f2f4c496-c2cf-11e7-84d2-0cb57faaf13e.png)

[2017-11-06 14:32] #123 closed

[2017-11-06 14:33] ppasq commented on #84
Fixed with #135

[2017-11-06 17:24] gmtoglia commented on #134
I want to add that when the user tries to download the layer (as image, csv, shapefile, etc.) the system returns this:

![image](https://user-images.githubusercontent.com/16922193/32454520-747b7588-c2ed-11e7-8009-8372319a66a6.png)

[2017-11-06 20:32] ppasq commented on #134
This seems a GeoFence issue. Need to investigate further.

[2017-11-07 20:13] gmtoglia commented on #134
If we add a layer through the import CSV feature, there is no issue. If we upload an SHP we have the issue.

[2017-11-08 13:48] ppasq commented on #134
According to the GeoFence developers this is a version 2.9 bug. We are evaluating whether to upgrade or try fix the current version.

[2017-11-08 14:33] gmtoglia commented on #45
The volume of this tutorial is too low: https://www.youtube.com/watch?v=VvAEUH_gaes - we wanted to use it to present the platform during the conference press but we can't.

[2017-11-08 15:03] AndreaAjmar commented on #45
We already have a audio track and now coupling it with the video in order to provide a new version of the videos

[2017-11-08 15:09] AndreaAjmar commented on #45
It was discussed to create a specific YouTube channel to store the tutorials: I suggest that CNIGS creates this channel using an account managed by this institution. If available in time and all tutorials loaded there, we can take care to link the HaitiData tutorial page to this channel for the press conference

[2017-11-08 15:22] gmtoglia commented on #45
I agree Andrea. The CNIGS will create an account on YouTube to host the
tutorials. In theory there is one already:
https://www.youtube.com/channel/UCJgvfOUwqAPTFmzPP__HJKw/featured but we
still don't have the greenlight from the government to use it (because it's
based on a gmail account: *cnigshaiti@gmail.com <cnigshaiti@gmail.com>*,
that we used for another project, and not on a *xyz@cnigs.ht <x

[2017-11-13 19:13] gmtoglia opened #139 "Clip and ship layer error"
When I try to download an area, I get this error (on the production platform "haitidata.org"):

![image](https://user-images.githubusercontent.com/16922193/32744193-bddd34ca-c87c-11e7-86d7-af198b3d7f92.png)

[2017-11-13 19:35] cchristelis commented on #139
@dimasciput, please explain how this bug was introduced? I am sure this was not present on Friday...

[2017-11-14 00:23] gmtoglia commented on #139
On the dev platform: http://haitidata.dev.ithacaweb.org/clip/ortho_images everything works fine.

[2017-11-14 07:25] dimasciput commented on #139
I fixed it, we tried to adding a new pyramid ortho images yesterday (http://haitidata.org/layers/geonode:ortho_images) and it conflicts with this layer. But it should be fine now.

[2017-11-14 07:25] #139 closed

[2017-11-15 11:11] #125 closed

[2017-11-15 21:58] gmtoglia commented on #125
Question: why the production website is still looking for the address haitidata.ithacaweb.org and not haitidata.org?

[2017-11-15 22:00] gmtoglia opened #140 "Poor performances - Cannot open maps on production website"
In the following video you can see the performance difference between the development and the production website

https://drive.google.com/open?id=1HafNfimXQfyiXT7S2ONVE_z4wxzhcyux

The final result on the production website was this:

![image](https://user-images.githubusercontent.com/16922193/32862551-6e93fa4c-ca26-11e7-8fa5-b8bc7594c64a.png)

[2017-11-16 08:05] #45 closed

[2017-11-16 11:56] dimasciput commented on #140
@gmtoglia We have updated the geoserver configuration, and for now we will keep monitoring the performance. The issue we found was because memory configuration in geoserver container.

[2017-11-16 22:21] cchristelis commented on #97
This works on production.

[2017-11-16 22:21] #97 closed

[2017-11-16 23:40] gmtoglia opened #141 "Impossible download layer as “tile”"
When an use chose to download a layers as “image->tile” this is the result:

![Image](https://i.imgur.com/pWb9xwI.jpg)

[2017-11-17 07:49] Gustry commented on #141
This link is a kind of stream, that you need to use in a GIS software/library such as QGIS. It's like a WMS link, we can't use it in a webbrowser.

[2017-11-17 08:19] cchristelis commented on #141
Thanks for the clarification @Gustry, could you perhaps advise how this would be done in QGIS and then close this issue, please.

[2017-11-17 10:56] AndreaAjmar commented on #126
The issue is not affecting the production site. Verified on the following layers:
http://haitidata.org/layers/geonode:hti_boundaries_departements_adm1_cnigs_polygon
http://haitidata.org/layers/geonode:hti_boundaries_communes_adm2_cnigs_polygon
http://haitidata.org/layers/geonode:gis_osm_water_a_free_1

As the development site will be re-configured from scratch, this issue can be considered closed.

[2017-11-17 10:56] #126 closed

[2017-11-17 11:14] Gustry commented on #141
![tiles](https://user-images.githubusercontent.com/1609292/32944658-95b315a2-cb90-11e7-96f5-933073c91019.gif)

* Copy the tiles URL
* In QGIS or in another software/library which is able to manage a TMS (Tile Map Service)
* Create a new connection with the tile URL
  * In the QGIS Browser, right click on `Tile Server XYZ`, add new connection with the URL

[2017-11-17 11:14] #141 closed

[2017-11-17 15:17] gmtoglia commented on #141
Thank you very much Etienne.
Now I understand . Do you think we can add this (btw very useful and clear) clip in the tutorials page?

[2017-11-20 19:34] gmtoglia commented on #84
The problem still persist when setting the thumbnail of a map:

![image](https://user-images.githubusercontent.com/16922193/33037560-f4f31fe6-cdff-11e7-8fa0-4eb0add3ae19.png)

[2017-11-21 17:46] ppasq commented on #117
This is also happening on a fresh GeoNode 2.6.3 installation. It needs further investigation.

[2017-11-24 14:19] cchristelis opened #142 "Template issue on Ortho page"
# Problem

Currently, we have the wrong text on the ortho image pages. This means the text and translations are incorrect.

# Proposed Solution

Update the template.

[2017-11-24 14:38] cchristelis opened #143 "basemaps"
# Problem

At the moment we have only one basemap (the standard one). It would be great to have more.

# Proposed Solution

Add mapbox token.

[2017-11-24 15:11] ppasq commented on #142
The template content is based on the layer name. Since the ortho images layer name was changed in production from ortho_images to ortho_images_pyramid the template is not working anymore.
This line must be edited: https://github.com/HaitiData/haitidata/blob/development/django_project/core/templates/clip-and-ship/clip-page.html#L22

[2017-11-26 23:47] gmtoglia commented on #140
Today at 7PM Haiti time, the performance problem showed up again:

![image](https://user-images.githubusercontent.com/16922193/33245795-49c7335c-d2da-11e7-9780-1814f04212ce.png)

[2017-11-27 07:30] dimasciput commented on #142
Updated - http://haitidata.org/clip/ortho_images_pyramid

[2017-11-27 07:30] #142 closed

[2017-11-27 07:59] #81 closed

[2017-11-27 08:10] cchristelis commented on #140
This seems to be due to a memory leak.  Also please disallow downloading large layer's data.

[2017-11-27 15:14] sbsimo opened #144 "Error with setup steps from README.md file (development branch)"
Are these steps still valid?
https://github.com/HaitiData/haitidata/blob/development/README.md

When running:
`make deploy`
on Ubuntu 16.04  (docker version = 17.11.0-ce, build 1caf76c  AND docker-compose version 1.17.0, build ac53b73)

I get the following error stack trace

[code]

[2017-11-28 10:16] dimasciput commented on #143
Mapbox basemap added https://github.com/HaitiData/haitidata/pull/145

[2017-11-28 10:16] #143 closed

[2017-11-30 16:20] gmtoglia opened #147 "Clip-n-Ship doesn't work"
When I click on "Download clip" the loading circle show up but no file is downloaded.

This is my internet speed: http://beta.speedtest.net/result/6838216090.png

[2017-12-01 16:23] gmtoglia commented on #147
OK, the problem was a side effect of the permissions change. To "hide" the layers, I set-up the permissions accordly: Nobody could view it and nobody could download it (I unchecked the possibility to download because of this:
![image](https://user-images.githubusercontent.com/16922193/33492040-f701aa72-d689-11e7-9c91-3497599e44e2.png)
).

Now the layers are hidden but anyone can download them.

[2017-12-01 16:23] #147 closed

[2017-12-04 07:25] dimasciput commented on #144
Hi @sbsimo , I fixed this issue here https://github.com/HaitiData/haitidata/pull/148. Now you can just do `make deploy`.

[2017-12-05 13:46] sbsimo commented on #144
Hi @dimasciput ,
most of the times when running ```make deploy``` the setup process fails with issues on the db (mainly in the migrate command).
I guess the reason is that it takes some more time for the db to be up and running, ins't it?

In fact if I run ```make deploy``` twice, the setup process ends smoothly the second time. I guess running ```make deploy``` twice does not produce any negative

[2017-12-06 01:55] dimasciput commented on #144
Hi @sbsimo, yes because there is a process to start the db and it takes some time. Maybe before make deploy we can run the `make db` to start the db first. Or like you said we can run the `make deploy` twice.

[2017-12-06 07:50] cchristelis commented on #127
These images are high resolution in the original document. This must have been caused by converting to PDF.

[2017-12-06 07:51] cchristelis commented on #144
@sbsimo, could you confirm that you have this running and that we can close this issue?

[2017-12-06 08:27] sbsimo commented on #144
@dimasciput thanks, now it's clear to me.
@cchristelis yes it is running, I'm closing it

[2017-12-06 08:27] #144 closed

[2017-12-06 14:04] sbsimo commented on #134
Hello everybody,
this issue seems to be solved here https://github.com/GeoNode/geonode/pull/3470

I tested it locally on a VM and the GeoFence rules are applied correctly.
I would suggest to:
1. install the fixed version of the GeoNode/python components: https://github.com/GeoNode/geonode/tree/2.6.x
2. insert the setting 'GEOFENCE_SECURITY_ENABLED' : True in the local_settings.py file

A pull requ

[2017-12-07 08:17] dimasciput commented on #140
One of the issues with this is because users try to download lidar or ortho layer, and they are too big. Now we have removed the download permission for public users.

We will still monitor the performance of the geoserver, and so far there's no problem.

[2017-12-18 18:36] gmtoglia opened #156 "Layer "availability" - maybe rights related"
Some layers are always available and some are available only when logged in (like this: http://haitidata.org/layers/geonode:hti_hazardhydrology_floodregions_nathat_polygon_052010#map=611.49622628141/-8135132.58/2158322.47/0).

[2017-12-18 19:06] gmtoglia opened #157 "Error 502 when logging in"
Happened on the 8th of December, it was impossible to login.
![bug](https://user-images.githubusercontent.com/16922193/34123128-86a55276-e3fc-11e7-8552-b2a4d1fc2677.png)

[2017-12-19 08:49] ppasq commented on #156
This is the same issue as #134
Closing this to keep the discussion in one place.

[2017-12-19 08:49] #156 closed

[2017-12-19 09:13] AndreaAjmar commented on #157
This happened on 15th of December too. We noticed that at the same time geoServer too was inaccessible (504 Gateway Time-out error)

[2017-12-26 02:18] dimasciput commented on #157
This is fine now, maybe the server was slow at that time.

[2017-12-26 02:18] #140 closed

[2017-12-26 02:19] dimasciput commented on #134
Fixed in https://github.com/sbsimo/haitidata/commit/78ef22b926663e5296d4e1d6dc14640fa4c22e48

[2017-12-26 02:19] #134 closed

[2018-01-03 11:01] cchristelis commented on #157
@dimasciput, has this issue been resolved or is it an intermittent issue? Do we have any logs that could help us understand what happened?

[2018-01-25 10:46] sbsimo commented on #157
I had a similar issue on the dev server, when I upgraded the django container.
In that case I had to restart the nginx container, to make the system work correctly again.

As the issue did not repeat recently, I would close it.

[2018-01-25 10:46] #157 closed

[2018-01-25 10:47] #127 closed

[2018-01-26 17:31] edejude opened #161 "Boundaries data don't apperar when you're not super-admin and problem to download"
Hello everyone,
I got some issues with boundarries data, they do not appear when user is not connected or user is not super admin. The menu for downloading the layer is deplicated 3 times when user wants to downlaod layer.
Specially with the layer: Hti Boundaries Sections Communales Adm3 Cnigs Polygon

![image](https://user-images.githubusercontent.com/3659579/35452402-5dddf4cc-0294-11e8-8e34-ca1c

[2018-01-29 10:40] sbsimo commented on #161
Hello @edejude ,
is this related to the mentioned layer only?
We are going to start working on it.

[2018-01-29 14:24] sbsimo commented on #161
@edejude with respect to the download links, this is due to the fact that several links with the same name are contained in the Links table of HaitiData.org (see http://haitidata.org/admin/base/link/?resource__id__exact=16)

I'm not aware about the cause that brought to this situation, nevertheless it can be corrected by deleting the wrong/non-used links. I'm going to do it for the mentioned layer

[2018-01-30 17:36] edejude commented on #161
Hello @sbsimo ,
Thank you to work on this issue. Sorry, i was not available to reply. The  issue is related to these following layers as well:
Hti Boundaries Departements Adm1 Cnigs Line
Hti Boundaries Communes Adm2 Cnigs Polygon
Hti Boundaries Departements Adm1 Cnigs Polygon
Hti Boundaries Sections Communales Adm3 Cnigs Line

[2018-01-31 14:39] sbsimo commented on #161
Hello @edejude ,
true, the layers you listed had the same issues indeed.
I fixed all of them, now they should work as expected.

[2018-01-31 16:00] edejude commented on #161
Thank you @sbsimo .

[2018-02-09 15:28] edejude opened #162 "Spelling corrections"
Dear all,
Could you make these spelling corrections, please.
![image](https://user-images.githubusercontent.com/3659579/36034941-92dc1ee8-0d83-11e8-94b5-68300ccd3c57.png)

[2018-02-21 07:11] #161 closed

[2018-03-21 14:28] edejude opened #163 "Users can not download MNT and Orthophotos"
Hi everyone,
Users can not download MNT and Orthophotos. Besides, there is no error message.

Regards,
Edejude

[2018-03-26 06:30] AndreaAjmar commented on #163
The issue was caused by lack of space in the server and is solved now (thanks to Dimas)

[2018-03-26 06:31] #163 closed

[2018-04-17 16:09] edejude opened #164 "Issue to download data"
Dear all,

The feature 'Download shape files' is not working properly. Here is the message response
![image](https://user-images.githubusercontent.com/3659579/38882428-104ff6f4-4238-11e8-8842-8908ea12a303.png)

[2018-04-18 08:10] ppasq commented on #164
It seems related to that particular layer. Are you getting this error with other layers?

[2018-04-18 19:45] edejude commented on #164
Apparently, the download does not work on any layer, including documents and orthophotos.

[2018-04-19 07:09] ppasq commented on #164
It seems it was due to a lack resources. Now it works fine for me. Could you please double-check?

[2018-04-19 13:54] edejude commented on #164
It works for me too. Thank you so much.

[2018-04-20 16:13] edejude opened #165 "Unable to view or downlaod some layers when user is not superadmin"
Dear all,
I previously had this problem for some layers. Some layers are displayed or can be downloaded only when user is superadmin.
Here below an email i received from an user.

Thanks to follow up.

Bonjour M. Edejude Jean Jacques,

Je viens de ressayer ce matin, je n’arrive pa à télécharger les couches suivantes (data geotiff ou shapefile compressé) :

·         Cnigs.Spatialdata-Hti Hazardcli

[2018-04-23 07:34] #164 closed

[2018-08-27 15:40] edejude opened #166 "Layers do not display"
Hello everyone,

No layers display.

Thanks to follow up.

Edejude

[2018-08-28 09:56] sbsimo commented on #166
Hello,
the issue was caused by a memory leak in GeoServer.
We have restarted the container and we keep monitoring it.

[2018-08-28 09:56] #166 closed

[2019-07-24 20:07] edejude opened #167 "Unable to login on Haitidata, layers don't display"
Hello everyone,
I can not connect to Haitidata and layers do not display.

Thank you for helping.

[2019-11-13 12:00] ppasq commented on #162
Fixed in 2.10

[2019-11-13 12:00] #162 closed